body {
  font-family:courier;
  background-color: black;
  font-size: 20px;
}
nav {
  text-align: center;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav li {
  display: inline;
  padding: 100px;

}

nav a {
  color: black;
  font-size: 25px;
  font-family:courier;
}

nav a:hover {
  background-color: lightsteelblue;

}

#home {
  color: white;
  text-size: 25px;
  text-align: center;
  padding: 100px;

}
#about {
  color: white;
  margin-right: 10px;
  padding: 0px;
}

img {
  float: left;
  margin-right: 15px;
  height: 200px;
  width: 200px;
  padding:5px;
}

#resume {
  color: white;
  padding-left: 0px;
  padding-top: 75px;
  left: 0;
}

ol li {
  padding: 5px;
}
